In [11]:
import pandas as pd

data = pd.read_csv("../csv/autos.csv")

data.head()

,symboling,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,13495
1,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,16500
2,1,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9,154,5000,19,26,16500
3,2,audi,gas,std,4,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10,102,5500,24,30,13950
4,2,audi,gas,std,4,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8,115,5500,18,22,17450

In [21]:
# Mutual Information : Any realition between feature and target
# MI Score : 0 (no relation between feat and target) , max upto 2, rare case may be even bigget
X = data.copy()
y = X.pop("price")

# X_test = data.copy()
# X_test = X_test.drop(["price"], axis=1)
# X_test.head()
# print(X.dtypes)
obj_count = X.select_dtypes(["object"])
obj_count.columns # 8 - 'make', 'fuel_type', 'aspiration', 'body_style', 'drive_wheels',
       #'engine_location', 'engine_type', 'fuel_system']
int_count = X.select_dtypes(["int"])
int_count.columns # 10   - ['symboling', 'num_of_doors', 'curb_weight', 'num_of_cylinders',
       #'engine_size', 'compression_ratio', 'horsepower', 'peak_rpm',
       # 'city_mpg', 'highway_mpg']
float_count = X.select_dtypes(["float"])
float_count.columns # 6  - ['wheel_base', 'length', 'width', 'height', 'bore', 'stroke']

Index(['wheel_base', 'length', 'width', 'height', 'bore', 'stroke'], dtype='object')

In [37]:
# Label encoding for categoricals
s = []
for colname in X.select_dtypes("object"):
    X[colname],s = X[colname].factorize()
    
X

,symboling,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,num_of_cylinders,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg
0,3,0,0,0,2,0,0,0,88.6,168.8,...,4,130,0,3.47,2.68,9,111,5000,21,27
1,3,0,0,0,2,0,0,0,88.6,168.8,...,4,130,0,3.47,2.68,9,111,5000,21,27
2,1,0,0,0,2,1,0,0,94.5,171.2,...,6,152,0,2.68,3.47,9,154,5000,19,26
3,2,1,0,0,4,2,1,0,99.8,176.6,...,4,109,0,3.19,3.40,10,102,5500,24,30
4,2,1,0,0,4,2,2,0,99.4,176.6,...,5,136,0,3.19,3.40,8,115,5500,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,-1,20,0,0,4,2,0,0,109.1,188.8,...,4,141,0,3.78,3.15,9,114,5400,23,28
189,-1,20,0,1,4,2,0,0,109.1,188.8,...,4,141,0,3.78,3.15,8,160,5300,19,25
190,-1,20,0,0,4,2,0,0,109.1,188.8,...,6,173,0,3.58,2.87,8,134,5500,18,23
191,-1,20,1,1,4,2,0,0,109.1,188.8,...,6,145,5,3.01,3.40,23,106,4800,26,27
192,-1,20,0,1,4,2,0,0,109.1,188.8,...,4,141,0,3.78,3.15,9,114,5400,19,25